@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@200;300;400;500;600;700;800;900 & family= Raleway:wght@300; 400;500;600;700;800;900 & famille= Roboto & display=swap');

body {
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
}

@media screen and (max-width: 500px){
body {

    padding-top: 20px;
}

}